{% extends 'base.html' %}
{% block shoppingcartactive %} active {% endblock shoppingcartactive %}
{% load static %}
{% block body%}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Home</a>
                    <a class="breadcrumb-item text-dark" href="/shop/">Shop</a>
                    <span class="breadcrumb-item active">Shopping Cart</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-12 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for c in c_data %}
                        <tr>
                            <td class="align-middle"><img src="{{c.pid.pimage.url}}" alt="" style="width: 50px;">{{c.p_id.name}}</td>
                            <td class="align-middle">${{c.pid.price}}</td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <a href='/minus-cart/{{c.cid}}' class="btn btn-sm btn-primary btn-minus" >
                                        <i class="fa fa-minus"></i>
                                        </a>
                                    </div>
                                    <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="{{c.quantity}}">
                                    <div class="input-group-btn">
                                        <a href='/plus-cart/{{c.cid}}' class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="align-middle">${{c.sub_total}}</td>
                            <td class="align-middle"><a href='/delete-cart/{{c.cid}}' class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td>
                        </tr>
                     {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href='/checkout/' class="btn btn-block btn-primary font-weight-bold my-3 py-3">Proceed To Checkout</a>
        </div>
    </div>
    <!-- Cart End -->

    {% endblock body %}  

</body>

</html>