{% extends 'base.html' %}
{% block shoppingcartactive %} active {% endblock shoppingcartactive %}
{% load static %}
{% block body%}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Home</a>
                    <a class="breadcrumb-item text-dark" href="/shop/">Shop</a>
                    <span class="breadcrumb-item active">My Orders</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-12 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Order_id</th>
                            <th>Amount</th>
                            <th>Payment_Type</th>
                            <th>Order_Date</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for c in o_data %}
                        <tr>
                            <td class="align-middle">{{c.oid}}</td>
                            <td class="align-middle">${{c.amount}}</td>
                            <td class="align-middle">{{c.p_type}}</td>
                            <td class="align-middle">{{c.odate.date}}</td>
                            <td class="align-middle">{{c.ot_id.status}}</td>
                          
                            <td class="align-middle">
                                <a href='/confirm-order/{{c.oid}}' class="btn btn-sm btn-info"><i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                     {% endfor %}
                    </tbody>
                </table>
            </div>


           
        </div>
    </div>
    <!-- Cart End -->

    {% endblock body %}  

</body>

</html>