{% extends 'base.html' %}
{% load static %}
<style>
</style>

{% block body %}
<div class="container">
	<div class="mb-4">
		<h2>Search Results :</h2>	
	</div>
	
	{% if allpro|length < 1 %}
		<p class="font-weight-bold text-danger">No Search Result</p><br>
		<h5>Your serach result <b> {{query}} </b> did not match any Document</h5><br>
		<h4>Suggestions :</h4>
		<ul class="mt-2 mb-3">
			<li>Try Different Keywords</li>
			<li>Try Fever Keywords.</li>
			<li>Try More General Keywords.</li>
		</ul>
	{% endif %}

	    <div id="product-list" class="row">
			{% for p in allpro %} 
			<div class="col-lg-4 col-md-6 col-sm-6 pb-1">
				<div class="product-item bg-light mb-4">
					<div class="product-img position-relative overflow-hidden">
						<img class="img-fluid w-100" src="{{p.pimage.url}}" alt="">
						<div class="product-action">
							<a class="btn btn-outline-dark btn-square" href="/add-cart/{{p.pid}}"><i class="fa fa-shopping-cart"></i></a>
							<a class="btn btn-outline-dark btn-square" href="/add-wish/{{p.pid}}"><i class="far fa-heart"></i></a>
							<a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
							<a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
						</div>
					</div>
					<div class="text-center py-4">
						<a class="h6 text-decoration-none text-truncate" href="/prod-details/{{p.pid}}">{{p.name}}</a>
						<div class="d-flex align-items-center justify-content-center mt-2">
							<h5>${{p.price}}</h5>
						</div>
						<div class="d-flex align-items-center justify-content-center mb-1">
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small>(99)</small>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
	</div>
</div>
{% endblock body %}