{% extends 'base.html' %}
{% block shopactive %} active {% endblock shopactive %}
{% load static %}
{% block body%}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Shop List</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
           
            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                   {% for p in prods %} 
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="{{p.pimage.url}}" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href="/add-cart/{{p.pid}}"><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href="/add-wish/{{p.pid}}"><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="/prod-details/{{p.pid}}">{{p.name}}</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>${{p.price}}</h5>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                   
                    <div class="col-12">
                        <nav>
                          <ul class="pagination justify-content-center">
                            {% if prods.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{prods.previous_page_number}}"> <<< </span></a></li>
                            <li class="page-item"><a class="page-link" href="?page={{prods.previous_page_number}}"> {{prods.previous_page_number}} </span></a></li>
                            {% endif %}

                            <li class="page-item active"><a class="page-link" href="#">{{prods.number}}</a></li>
                            
                            {% if prods.has_next %}
                            <li class="page-item "><a class="page-link" href="?page={{prods.next_page_number}}">{{prods.next_page_number}}</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{prods.next_page_number}}"> >>> </a></li>
                            {% endif %}

                          </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->

    {% endblock body %} 
    
</body>

</html>