{% extends 'base.html' %}
{% block shoppingcartactive %} active {% endblock shoppingcartactive %}
{% load static %}
{% block body%}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/">Home</a>
                    <a class="breadcrumb-item text-dark" href="/shop/">Shop</a>
                    <span class="breadcrumb-item active">Wishlist</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cart Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for c in w_data %}
                        <tr>
                            <td class="align-middle"><img src="{{c.pid.pimage.url}}" alt="" style="width: 50px;">{{c.pid.name}}</td>
                            <td class="align-middle">${{c.pid.price}}</td>
                            <td class="align-middle"><a href='/delete-wish/{{c.wid}}' class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td>
                        </tr>
                     {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Cart End -->

    {% endblock body %}  

</body>

</html>